@(regions: List[Region])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@nav = {
    <li><a href="@routes.RegionController.add"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
}

@main(nav) {

<div class="container" style="margin: 100px">
    <legend>All Regions</legend>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width:50px">#</th>
            <th>Taste</th>
        </tr>
        </thead>

        <tbody>
        @regions.map { t =>
        <tr>
            <td>@regions.indexOf(t).</td>
            <td>@t.name</td>
        </tr>
        }
        </tbody>
    </table>
</div>
}