@(restuarantForm: Form[Restuarant], tastes: List[Taste], regions: List[Region])

@import helper._


@**
** @import helper.twitterBootstrap._
**@


@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@nav = {
    <li><a href="@routes.TasteController.form"><span class="glyphicon glyphicon-plus"></span> Taste</a></li>
    <li><a href="@routes.RegionController.form"><span class="glyphicon glyphicon-plus"></span> Region</a></li>
    <li><a href="@routes.Application.all"><span class="glyphicon glyphicon-list-alt"></span> All Restuarants</a></li>
}

@main(nav) {

@if(restuarantForm.hasErrors) {
<div class="alert-message error">
    <p><strong>Oops</strong> Please fix all errors</p>
</div>
}

<div class="container" style="margin: 100px">
    @helper.form(action = routes.Application.add, args = 'role -> "form", 'class -> "form-horizontal") {

        <legend>Restuarant information</legend>

        @inputText(
        restuarantForm("name"),
        '_label -> "Name"
        )

        @inputText(
        restuarantForm("address"),
        '_label -> "Address"
        )

        @inputText(
        restuarantForm("phone"),
        '_label -> "Phone"
        )

        @inputText(
        restuarantForm("distance"),
        '_label -> "Distance"
        )

        @select(
        restuarantForm("tasteType"),
        options(tastes.map { t => t.name}),
        '_label -> "Taste Type"
        )

        @inputText(
        restuarantForm("price"),
        '_label -> "Price"
        )

        @select(
        restuarantForm("region"),
        options(regions.map {t => t.name}),
        '_label -> "Region"
        )

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Insert</button>
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
    </div>

    }

</div>
}