@(tastes: List[Taste])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@nav = {
    <li><a href="@routes.TasteController.add"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
}

@main(nav) {

<div class="container" style="margin: 100px">
    <legend>All Tastes</legend>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:50px">#</th>
                <th>Taste</th>
            </tr>
        </thead>

        <tbody>
            @tastes.map { t =>
                <tr>
                    <td>@tastes.indexOf(t).</td>
                    <td>@t.name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}