@(tasteForm: Form[String])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }


@title = {
Add a new contact <small><a href="@routes.Application.add">Or edit an existing contact</a></small>
}

@main(title, nav = "restuarant") {

@if(tasteForm.hasErrors) {
<div class="alert-message error">
    <p><strong>Oops</strong> Please fix all errors</p>
</div>
}

<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.Application.index">Where To Eat</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@routes.TasteController.all"><span class="glyphicon glyphicon-list-alt"></span> All Tastes</a></li>
                    <li><a href="@routes.Application.form"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin: 100px">
    @helper.form(action = routes.TasteController.add, args = 'role -> "form", 'class -> "form-horizontal") {

    <legend>Taste information</legend>

    @inputText(
    tasteForm("name"),
    '_label -> "Name"
    )

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add</button>
            <a href="@routes.Application.form" class="btn">Cancel</a>
        </div>
    </div>
    }

</div>

}